<li class="notgradestudents">
	<a href="{{{form_url}}}" class="btn btn-primary" target="_blank">Оценить</a> <a href="/course/view.php?id={{{courseid}}}" target="_blank">{{coursename}}</a> / <small>{{assignname}}</small> - <i>{{studentname}}</i>
</li>