<li>
    <a class="dropdown-item {{#active}}active{{/active}}" href="#" data-display-option="display" data-value="{{id}}"
       data-pref="{{id}}" data-group="{{groupid}}" aria-label="{{arialabel}}" aria-controls="courses-view-{{uniqid}}">
        {{name}}
    </a>
</li>