<div id="studentlist-view-choices-{{uniqid}}" data-region="studentlist-view">
    <div class="d-flex justify-content-center">
        <ul class="nav nav-pills my-5">
            <li class="nav-item">
                <a class="nav-link {{#studentlist_tab.bygroup}}active{{/studentlist_tab.bygroup}}"
                   href="#tutor_studentlist_bygroup" data-toggle="tab" data-tabname="bygroup">
                    {{#str}} sortbygroup, block_tutor {{/str}}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#studentlist_tab.bystudent}}active{{/studentlist_tab.bystudent}}"
                   href="#tutor_studentlist_bystudent" data-toggle="tab" data-tabname="bystudent">
                    {{#str}} sortbystudent, block_tutor {{/str}}
                </a>
            </li>
        </ul>
    </div>

    <div class="tab-content">
        <div class="tab-pane {{#studentlist_tab.bygroup}}active show{{/studentlist_tab.bygroup}} fade" id="tutor_studentlist_bygroup">
            <ol>
                <div class="dropdown">
                    <button id="groupsdropdown" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false" aria-label="{{#str}} aria:groupsdropdown, block_tutor {{/str}}">
                        {{#pix}} t/sort_by {{/pix}}
                        <span class="d-sm-inline-block" data-active-item-text>
                            {{#str}} title_group_select, block_tutor {{/str}}
                        </span>
                    </button>
                    <ul class="dropdown-menu" data-show-active-item aria-labelledby="sortingdropdown">
                        {{#studentslistview.groups}}
                            {{> block_tutor/studentslist-view-groupslist-select }}
                        {{/studentslistview.groups}}
                    </ul>
                </div>
            </ol>
            <ol>
                {{#studentslistview.groups}}
                    {{> block_tutor/studentslist-view-groupslist }}
                {{/studentslistview.groups}}
                {{^studentslistview.groups}}
                    {{#str}} dataempty, block_tutor {{/str}}
                {{/studentslistview.groups}}
            </ol>
        </div>
        <div class="tab-pane {{#studentlist_tab.bystudent}}active show{{/studentlist_tab.bystudent}} fade" id="tutor_studentlist_bystudent">
            <ol>
                <div class="dropdown">
                    <button id="studentsdropdown" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false" aria-label="{{#str}} aria:studentsdropdown, block_tutor {{/str}}">
                        {{#pix}} t/sort_by {{/pix}}
                        <span class="d-sm-inline-block" data-active-item-text>
                            {{#str}} title_student_select, block_tutor {{/str}}
                        </span>
                    </button>
                    <ul class="dropdown-menu" data-show-active-item aria-labelledby="sortingdropdown">
                        {{#studentslistview.students}}
                            {{> block_tutor/studentslist-view-list-select }}
                        {{/studentslistview.students}}
                    </ul>
                </div>
            </ol>
            <ol>
                {{#studentslistview.students}}
                    {{> block_tutor/studentslist-view-list }}
                {{/studentslistview.students}}
                {{^studentslistview.students}}
                    {{#str}} dataempty, block_tutor {{/str}}
                {{/studentslistview.students}}
            </ol>
        </div>
    </div>

    {{#show_students_by_action_button}}
        <div class="d-flex justify-content-center mb-4 mt-5">
            <button class="btn btn-secondary" id="show-more-students">Загрузить студентов</button>
        </div>
    {{/show_students_by_action_button}}
</div>
{{#js}}
    require(['jquery', 'core/custom_interaction_events'], function($, customEvents) {
        var root = $('#studentlist-view-choices-{{uniqid}}');
        customEvents.define(root, [customEvents.events.activate]);
        root.on(customEvents.events.activate, '[data-toggle="btns"] > .btn', function() {
        root.find('.btn.active').removeClass('active');
    });
    });
    require(['jquery', 'block_tutor/init'], function($, TypePreferences) {
        var root = $('#studentlist-view-choices-{{uniqid}}');
        TypePreferences.registerEventListeners(root, 'studentlist');
    });
{{/js}}
