<div>
	{{#webinarsview.webinars}}
		{{coursename}}
		<ol>
			{{#data}}
				{{> block_tutor/webinars-view-list }}
			{{/data}}
		</ol>
	{{/webinarsview.webinars}}
	{{^webinarsview.webinars}}
		{{#str}} dataempty, block_tutor {{/str}}
	{{/webinarsview.webinars}}
</div>