
<div id="block-tutor-{{uniqid}}" class="block-tutor" data-region="tutor">
    <ul id="block-tutor-view-choices-{{uniqid}}" class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link {{#viewingneedgradign}}active show{{/viewingneedgradign}}" href="#tutor_needgradign_view" role="tab" data-toggle="tab" data-tabname="needgradign">
                {{#str}} needgradign, block_tutor {{/str}}{{#needgradignview.count}} (<b>{{needgradignview.count}}</b>){{/needgradignview.count}}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{#viewingstudentslist}}active show{{/viewingstudentslist}}" href="#tutor_studentslist_view" role="tab" data-toggle="tab" data-tabname="studentslist">
                {{#str}} studentslist, block_tutor {{/str}}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{#viewingenrolled}}active show{{/viewingenrolled}}" href="#tutor_enrolled_view" role="tab" data-toggle="tab" data-tabname="enrolled">
                {{#str}} enrolled, block_tutor {{/str}}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{#viewingwebinars}}active show{{/viewingwebinars}}" href="#tutor_webinar_view" role="tab" data-toggle="tab" data-tabname="webinars">
                {{#str}} webinars, block_tutor {{/str}}{{#webinarsview.count}} (<b>{{webinarsview.count}}</b>){{/webinarsview.count}}
            </a>
        </li>
    </ul>
    <div class="tab-content content-centred">
        <div role="tabpanel" class="tab-pane my-5 fade {{#viewingneedgradign}}in active show{{/viewingneedgradign}}" id="tutor_needgradign_view">
			{{> block_tutor/needgradign-view }}
        </div>
        <div role="tabpanel" class="tab-pane fade {{#viewingstudentslist}}in active show{{/viewingstudentslist}}" id="tutor_studentslist_view">
			{{> block_tutor/studentslist-view }}
        </div>
        <div role="tabpanel" class="tab-pane my-5 fade {{#viewingenrolled}}in active show{{/viewingenrolled}}" id="tutor_enrolled_view">
			<ol>
				{{> block_tutor/enrolled-view }}
			</ol>
        </div>
        <div role="tabpanel" class="tab-pane my-5 fade {{#viewingwebinars}}in active show{{/viewingwebinars}}" id="tutor_webinar_view">
			{{> block_tutor/webinars-view }}
        </div>
    </div>
</div>
{{#js}}
require(['jquery', 'block_tutor/tab_preferences'], function($, TabPreferences) {
    var root = $('#block-tutor-view-choices-{{uniqid}}');
    TabPreferences.registerEventListeners(root);
});
{{/js}}
